body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
    
.container-box {
    margin: 0 auto; /* Center the container horizontally */
    max-width: 600px; /* Adjust the max-width based on your design */
    padding: 20px;
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    border-color: #917C5A;
    background-color: #FED4C3;
}

.navibar {
    display: none;
}