

body {
    
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-image: url('../../billeder/baggrund_fade.png');
}

.container-box {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-color: #917C5A;
    background-color: white; 
}

    .container-box h3 {
        color: #191A3B;
    }
