@inherits LayoutComponentBase

<style>
    html,
    body {
    }
</style>

<main>
        <div class="navbar">
            <NavMenu />
        </div
        <article class="content px-4">
            <br />
            @Body
        </article>
</main>

