@inherits LayoutComponentBase
<div class="background-container" style="background-image: url('billeder/baggrund_fade.png')">
    <main>
        <div class="navbar">
            <NavMenu />
        </div>
         <article class="content px-4">
            <br />
            @Body
        </article>
    </main>
</div>
