@inherits LayoutComponentBase

@{
    string userType = "frivillig"; 
    string vagtplanHref = userType == "Frivillig" ? "/vagtplan" : "/koordinator";
}

<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #000000;">
    <a class="navbar-brand" style="margin-left: 20px; color: #ffffff; border-radius: 0.8em; padding: 0.3em 1em; background-color: #292929; font-size: 17px;" href="@vagtplanHref">Vagtplan</a>
    <a class="navbar-brand" style="color: #ffffff; border-radius: 0.8em; padding: 0.3em 1em; background-color: #292929; font-size: 17px;" href="/profil">Min Profil</a>
</nav>
