﻿<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: lightyellow">
    <a class="navbar-brand" style="color: #318; font-size: 50px; padding-right: 30px;" href="#">HEJ</a>
    <a class="navbar-brand" style="color: #292; font-size: 50px; padding-right: 30px;" href="Vagtplan">Vagtplan</a>
    <a class="navbar-brand" style="color: #990; font-size: 50px; padding-right: 30px;" href="Profil">Profil</a>
</nav>
