@inherits LayoutComponentBase

<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #5E9B89 ">
    <a class="navbar-brand" style="color: #1A1A1A; font-size: 20px; padding-left: 3px; padding-right: 5px;" href="#">Login</a>
    <a class="navbar-brand" style="color: #1A1A1A; font-size: 20px; padding-right: 5px;" href="/vagtplan">Vagtplan</a>
    <a class="navbar-brand" style="color: #1A1A1A; font-size: 20px; padding-right: 5px;" href="/profil">Min Profil</a>
</nav>
<style>
    .custom-background {
        background-color: #5E9B89
    }
</style>
<main class="custom-background">
    @Body
</main>
