@inherits LayoutComponentBase

<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #4C7E6E">
    <a class="navbar-brand" style="color: #FFFFFF; font-size: 20px; padding-left: 20px; padding-right: 5px;" href="/vagtplan">Vagtplan</a>
    <a class="navbar-brand" style="color: #FFFFFF; font-size: 20px; padding-right: 5px;" href="/profil">Min Profil</a>
</nav>
