@page "/"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inherits LayoutComponentBase
@using Musikfestival.Shared.Models;
@inject HttpClient Http;
@inject Blazored.LocalStorage.ILocalStorageService localStore

<link rel="stylesheet" href="css/UI/Index.css" />
<style>
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        background-image: url('Billeder/baggrund_fade.png');
        background-size: cover;
        background-position: center;
    }
</style>
<main>
    <form class="form-signin" @onsubmit="AttemptLogin">
        <center><img src="Billeder/logo1.png" width="200"><br /><br />
        <input type="text" @bind="bruger.Username" class="form-control" placeholder="Brugernavn" required autofocus>
        <input type="password" @bind="bruger.Password" class="form-control" placeholder="Kodeord" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit" style="text-color:white; background-color: #191A3B;">Log ind</button>
        </center>
    </form>
</main>

@code {
    private Bruger bruger = new Bruger();

    private async Task AttemptLogin()
    {
        try
        {
            // Communicate with the server API
            var response = await Http.PostAsJsonAsync<Bruger>("/api/bruger", bruger);
            response.EnsureSuccessStatusCode();

            Bruger authenticatedUser = await response.Content.ReadFromJsonAsync<Bruger>();

            if (authenticatedUser != null)
            {
                await localStore.SetItemAsync("username", authenticatedUser.Username);
                await localStore.SetItemAsync("type", authenticatedUser.Type);
                if (authenticatedUser.Type == "Koordinator")
                {
                    NavigationManager.NavigateTo("/koordinator");
                }
                else
                {
                    NavigationManager.NavigateTo("/vagtplan");
                }
            }
            else
            {
                // Handle unsuccessful login, show error message, etc.
                Console.WriteLine("Login failed. Please check your credentials.");
            }
        }
        catch (Exception ex)
        {
            // Log or handle any exceptions that occur during the request
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}