@page "/"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inherits LayoutComponentBase
@using Musikfestival.Shared.Models;
@inject HttpClient Http;



<style>
    html,
    body {
        height: 100px;
    }

    body {
        display: -ms-flexbox;
        display: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 0px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="username"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
</style>

<main>
    <form class="form-signin" @onsubmit="AttemptLogin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <input type="username" @bind="login.Username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" @bind="login.Password" class="form-control" placeholder="Password" required>
   
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</main>

}
@code {
    private Login login = new Login();

    private async Task AttemptLogin()
    {
        try
        {
            // Communicate with the server API
            var response = await Http.PostAsJsonAsync<Login>("api/bruger", login);
            response.EnsureSuccessStatusCode();

            Bruger authenticatedUser = await response.Content.ReadFromJsonAsync<Bruger>();

            if (authenticatedUser != null)
            {
                // Redirect to "vagtplan" after successful login
                NavigationManager.NavigateTo("/vagtplan");
            }
            else
            {
                // Handle unsuccessful login, show error message, etc.
                Console.WriteLine("Login failed. Please check your credentials.");
            }
        }
        catch (Exception ex)
        {
            // Log or handle any exceptions that occur during the request
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}
