@page "/"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inherits LayoutComponentBase
@using Musikfestival.Shared.Models;
@inject HttpClient Http;
@inject Blazored.LocalStorage.ILocalStorageService localStore

<style>
    html,
    body {
        height: 100px;
    }

    body {
        display: -ms-flexbox;
        display: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 0px;
        background-color: #FFFFFF;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="username"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    .navbar {
        display: none;
    }
</style>

<main>
    <form class="form-signin" @onsubmit="AttemptLogin">
        <center><img src="Billeder/logo.png" width="200"><br /><br />
        <input type="text" @bind="bruger.Username" class="form-control" placeholder="Brugernavn" required autofocus>
        <input type="password" @bind="bruger.Password" class="form-control" placeholder="Kodeord" required>
   
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log ind</button></center>
    </form>
</main>

@code {
    private Bruger bruger = new Bruger();

    private async Task AttemptLogin()
    {
        try
        {
            // Communicate with the server API
            var response = await Http.PostAsJsonAsync<Bruger>("/api/bruger", bruger);
            response.EnsureSuccessStatusCode();

            Bruger authenticatedUser = await response.Content.ReadFromJsonAsync<Bruger>();

            if (authenticatedUser != null)
            {
                await localStore.SetItemAsync("username", authenticatedUser.Username);

                // Redirect to "vagtplan" after successful login
                NavigationManager.NavigateTo("/vagtplan");
            }
            else
            {
                // Handle unsuccessful login, show error message, etc.
                Console.WriteLine("Login failed. Please check your credentials.");
            }
        }
        catch (Exception ex)
        {
            // Log or handle any exceptions that occur during the request
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}
