@page "/profil"
@using Musikfestival.Shared.Models;
@using MongoDB.Bson;
@inject HttpClient Http;

<PageTitle>Profilside</PageTitle>

<h1>Min profil</h1>

@if (brugere == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">

        <tbody>
            @foreach (var bruger in brugere)
            {
                <tr class="brugerRow">
                    <td>
                        <h2>@bruger.Navn - @bruger.Email</h2>
                        Beskrivelse : @bruger.Beskrivelse
                    </td>
                </tr>
            }
        </tbody>
    </table>



}

@code {

    private Bruger[]? brugere;

    protected override async Task OnInitializedAsync()
    {
        brugere = await Http.GetFromJsonAsync<Bruger[]>("/api/bruger");

    }
}
