@page "/profil"
<h3>Profil</h3>

<h2>User Profile</h2>
<div class="contact-box">
    <p><strong>Navn:</strong> Torben</p>
    <p><strong>Email:</strong>Email</p>
    <p><strong>Mobil:</strong>1234567</p>
    <p><strong>Adresse:</strong>Torbensvej</p>
</div>

<div class="picture">
    <p><img src="https://pure.au.dk/portal/files/282511937/HIMA2789_edited.jpg"<img></p>
</div>

<div class="attention">
    <p><strong>Bemærkning:</strong>Hvad end det er</p>
</div>

<style>
    .contact-box {
        display: inline-block;
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .picture img {
        height: 100px; 
        width: 100px;
    }

    .attention {
        display: inline-block;
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
</style>

@code {

}
