@page "/profil"
@using Musikfestival.Shared.Models;
@inject HttpClient Http;

<PageTitle>Profilside</PageTitle>

<h1>Min profil</h1>

@if (profiler == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">

        <tbody>
            @foreach (var profil in profiler)
            {
                <tr class="profilRow">
                    <td>
                        <h2>@profil.Navn - @profil.Email</h2>
                        Beskrivelse : @profil.Beskrivelse
                    </td>
                </tr>
            }
        </tbody>
    </table>



}

@code {

    private Bruger[]? profiler;

    protected override async Task OnInitializedAsync()
    {
        profiler = await Http.GetFromJsonAsync<Bruger[]>("Bruger");

    }
}
